<div class="help">
<p>webShell, version 22384975.0.1.56<br/>
Created with <a href="https://github.com/theBrianCui/terminator.js/" target="_blank" title="Terminator JS">terminator.js</a>.</p>
<p>
Type {{{command "help"}}} to see list of commands.</p>
<p>
=== Email === <br>
{{{command "contact"}}}: View my contact email.<br/>
</p>
<p>
=== Social Media === <br>
{{{command "github"}}}: Opens my <a href="https://github.com/ksketo" target="_blank" title="Github">Github page</a>.<br/>
{{{command "stackoverflow"}}}: Opens my <a href="https://stackoverflow.com/users/4619005/kostas" target="_blank" title="Github">StackOverflow page</a>.<br/>
{{{command "linkedin"}}}: Opens my <a href="https://www.linkedin.com/in/konstantinos-faliagkas-6241022a/" target="_blank" title="Linkedin">Linkedin profile</a>.<br/>
{{{command "twitter"}}}: Opens my <a href="https://twitter.com/kwst_f" target="_blank" title="Twitter">Twitter profile</a>.<br/>
{{{command "steem"}}}: Opens my <a href="https://steemit.com/@kostas" target="_blank" title="SteemIt">Steem blog</a>.<br/>
{{{command "angellist"}}}: Opens my <a href="https://angel.co/konstantinos-faliagkas" target="_blank" title="AngelList">AngelList profile</a>.<br/>
</p>
<p>
=== Other === <br>
{{{command "git"}}}: View the site's source code and other developer information.<br/>
{{{command "clear"}}}: Clear the contents of the terminal.<br/>
{{{command "ls"}}}: List information about the FILEs (the current directory by default). <br>
{{{command "pwd"}}}: Print working directory. <br>
{{{command "cd"}}}: Change directory. <br>
{{{command "whoami"}}}: Print the user name associated with the current effective user ID. <br>
{{{command "echo"}}}: Write arguments to the standard output. <br>
{{{command "cat"}}}: Concatenate FILE(s), or standard input, to standard output.
</p>
</div>
